node_modules/
data/*.local.json
coverage/
**/bin/
**/obj/
.tmp/
.nuget/
RecipeBook.Api/appsettings.Development.json
RecipeBook.Api/appsettings.json
REPORT.md
DEFENSE.md
README.md

run-api.ps1
run-tests.ps1
run-unit-tests.ps1
RecipeBook.UnitTests/
data/
tests/
src/